@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    max-width: 1400px;
    width: 100%;
    margin: 6em auto;
    background: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    color: white;
}
.wrapper h1{
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 30px;
}
.wrapper p{
    font-size: 18px;
    line-height: 27px;
}

.container{
    max-width: 600px;
    width: 100%;
}
.container .trial{
    background: hsl(248, 32%, 49%);
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 2px 15px 6px -4px rgba(0, 0, 0, 0.1);
}
.trial p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
} 
.trial .free{
    font-weight: 200;
}

form{
    background-color: white;
    width: 100%;
    max-height: 550px;
    margin-right: 10em;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 10px;
}
form span{
    color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: right;
    padding-top: 5px;
}
.form-group input{
    width: 100%; 
    padding: 15px;
    flex: 1;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    color: hsl(249, 10%, 26%);
    font-size: 15px;
    font-weight: 700;
    outline: none;
}
.form-group input:focus{
    border: 2px solid hsl(250, 3%, 56%);
}
.form-group #submit{
    background: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.terms{
    color: hsl(246, 25%, 77%);
    font-size: 12px;
    text-align: center;
}
form p a{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}

/* .error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

.first-img, .last-img,
.email-img, .password-img{
    position: absolute;
    right: 17.5em;
    display: none;
}

#success {
    border: 3px solid green;
}

#failed {
    border: 3px solid red;
}

.attribution { 
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* Responsive Design */

@media screen and (max-width: 1250px) {
    body{
        max-width: 1000px;
        margin: 6em auto;
    }
    .wrapper h1{
        font-size: 50px;
        line-height: 50px;
    }
    .wrapper p{
        font-size: 16px;
    }
    .icon-error{
        right: 20px;
    }
}

@media screen and (max-width: 1016px) {
    .wrapper h1{
        font-size: 45px;
        line-height: 45px;
    }
}

@media screen and (max-width: 877px) {
    .wrapper h1{
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 855px) {
    body{
        max-width: 500px;
        margin: 4em auto;
    }
    .contents{
        grid-template-columns: 1fr;
    }
    .wrapper{
        margin-bottom: 25px;
    }
    .wrapper h1,
    .wrapper p{
        text-align: center;
    }
}

@media screen and (max-width: 485px) {
    body{
        max-width: 400px;
    }
    .container{
        max-width: 400px;
    }
}

@media screen and (max-width: 420px) {
    body{
        max-width: 350px;
    }
    .container{
        max-width: 350px;
    }
    .wrapper h1{
        font-size: 30px;
        line-height: 35px;
    }
    .wrapper p{
        font-size: 15px;
        line-height: 24px;
    }
}